* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    width: 100%;
    height: 100%;
    background-color: rgb(10, 10, 10);
    display: flex;
    align-items: center;
    justify-content: center;
    anchor-name: --highlight;
}

main:hover {
    anchor-name: --highlight;
}

nav {
    width: fit-content;
    display: flex;
    padding: 8px;
    border-radius: 1rem;
    background-color: white;
}

.active {
    transition: all .3s ease;
    cursor: pointer;
    color: rgb(10, 10, 10);
    line-height: 1;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 22px;
}

.active:hover {
    anchor-name: --highlight;
}

.last {
    margin-right: 0;
}

.active img {
    width: 24px;
    margin-right: 8px;
    object-fit: cover;
    object-position: center;
}

.highlight {
    transition: all .3s ease;
    top: anchor(top);
    border-radius: 10px;
    left: anchor(left);
    right: anchor(right);
    bottom: anchor(bottom);
    position: absolute;
    mix-blend-mode: difference;
    background-color: white;
    pointer-events: none;
    position-anchor: --highlight;
}